// flex垂直 水平居中
@mixin hor-ver-center-flex {
  display: flex;
  align-content: center;
  justify-items: center;
}

// flex水平居中
@mixin horizontal-center-flex {
  display: flex;
  justify-content: center;
}

// flex垂直居中
@mixin vertical-center-flex {
  display: flex;
  align-content: center;
}

// grid垂直水平居中
@mixin hor-ver-center-grid {
  display: grid;
  place-content: center;
}


@mixin card-frame {
  border-radius: 4px;
  padding: 4px;
  height: 100%;
}