.ant-form {
  display: flex;
  width: 100%;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(var(--numbers), 1fr);
  margin-bottom: 10px;
}

.fold {
  height: auto;
}

.unfold {
  height: 0;
  overflow: hidden;
}

.inline-opts {
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.opts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin: 10px 0;
}