.Header {
  display: "flex";
  justify-content: "flex-end";
  align-items: "center";
  column-gap: 0;

  .headeIcon {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .search-expand-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in-out;

    // 初始状态图标样式
    .ant-input-prefix {
      cursor: pointer;
      padding: 0;
    }

    // 输入框样式
    .ant-input {
      width: 80px; // 初始宽度
      transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
      border: none;
      box-shadow: none !important;
      background: transparent;
      cursor: pointer;

      // 隐藏清除图标
      .ant-input-clear-icon {
        display: none;
      }
    }

    // 鼠标悬停时的展开效果
    &:hover {
      .ant-input {
        width: 180px; // 展开后的宽度
        cursor: text;
      }
    }
  }
  .ant-avatar {
    img {
      object-position: top;
    }
  }
}
.Notices {
  width: 350px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  row-gap: 4px;

  .notice {
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(247, 247, 247);
    display: grid;
    row-gap: 4px;
    .topbox {
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 14px;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #030303;
        white-space: nowrap;
      }

      .date {
        font-size: 14px;
        color: #2c2c2c;
      }
    }

    .contents {
      padding: 0 4px;
      max-height: 70px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #2c2c2c;
    }
  }
}