.Card {
  background-color: #fff2e5;
  @include card-frame;
  padding: 20px;
  border: 1px solid #dfdddd;
  .title {
    font-size: 16px;
    font-weight: 500;
  }
  .contents {
    display: flex;
    justify-content: space-between;
    align-content: center;
    .count {
      font-size: 30px;
      font-weight: 600;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }
  }
}